/* Body */
BODY {
	margin: 0px 0px 0px 0px;
	background-color : #FFFFFF ;
	color : #000000;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-base-color: #000000;
	scrollbar-darkshadow-color: #666666;
	scrollbar-face-color: #cccccc;
	scrollbar-highlight-color: #000000;
	scrollbar-shadow-color: #666666;
	scrollbar-track-color: #f0f0f0;
	scrollbar-arrow-color: #000000;
}

tr.item{
	background-color: #ffffff;
}

tr.itemOver{
	background-color: #fffdc1;
}

td.campo {
	border-left: solid 1px silver;
}

td.valor {
	font-weight:normal;
	border-right: solid 1px silver;
}

td.campoB {
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}

td.valorB {
	font-weight:normal;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
}

td,tr,p,div {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

td.titulo {
	color: #62A034;
	border: solid 1px #cccccc;
	font-size: 18px;
	font-family: "Trebuchet MS";
	font-weight:normal;
}
table.titulo {
	border-right: solid 3px #dedede;
	border-bottom: solid 3px #dedede;
}

td.warning{
	color: black;
	text-align: center;
	border: solid 1px #f3f494;
	background-color: #fffdc1;
	padding: 8px;
}

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #f0f0f0;
	text-align: center;
	cursor: hand;
	font-weight: normal;
	color: #333333;
}
.offtab {
	background-color : #cccccc;
	text-align: center;
	cursor: hand;
	font-weight: normal;
	color: #333333;
}
.tabpadding {
}

.tabheading {
	background-color: #333333;
	text-align: left;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
h4 {
	color: #86a7e7; font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 15px; font-weight: bold;
	}

h5 {
	color: #86a7e7; font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 13px; font-weight: bold;
	}

h6 {
	color: #86a7e7; font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px; font-weight: bold;
	}


/* Links */
a:link, a:visited {
	font-size: 12px; color: #000000; text-decoration: none;
	font-family:  Trebuchet MS, Helvetica, sans-serif;
}
.link {
	font-size: 12px; color: #5B9ABB; text-decoration: none;
	font-family:  Trebuchet MS, Helvetica, sans-serif;
}

a:hover {
	color: #696866;	text-decoration: none;
	}


/* Horizontal Line */
hr {
	background: #5B9ABB;
	height:1px;
	border: 2px dashed;
	}

hr.separator {
	background: #5E9ABC;
	height: 1px;
	width: 75px;
	border: 0px;
}

/* --Default Class Settings-- */

a.mainlevel:link, a.mainlevel:visited {
	padding: 1px;
	height: 12;
	width: 100%;
	text-align: left;
	border: 1px none #5696B9;
        }

a.mainlevel:hover {
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	height: 12;
	width: 100%;
	padding: 1px;
	text-align: left;
	border: 1px none #4E90B3;
        }

	a.mainmenu:link, a.mainmenu:visited {
	color: #5092B5;
	font-weight: normal;
	}

a.mainmenu:hover, {
	color: #ff9900;
	text-decoration: underline;
	}

a.sublevel:hover {
	color: #585755;
	text-decoration: underline;
	}

a.sublevel:link, a.sublevel:visited {
	color: #4E90B3;
	font-weight: normal;
}


/* For content item titles that are hyperlink instead of Read On */
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-size: 13px;
	font-weight: bold;
 	color: #4F91B4;
	text-align:left;
	}

a.contentpagetitle:hover {
	font-size: 13px;
	font-weight: bold;
	text-align:left;
	color: #5E5D5B;
	text-decoration: underline;
	font-weight: bold;
	}

/* Content - Sections & Categories */
.contentpane {
	background-color : #FFFFFF;
	}

.contentpaneopen {
	border : 0px ridge #F0F0F0;
	}

.contentheading {
	font-family: Times new roman, Trebuchet MS, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
 	color: #86a7e7;
	text-align:left;
	background-image: url(../../img/web/separa.gif);
	background-repeat: no-repeat;
	background-position: top left;
	text-indent: 30px;
	line-height: 25px;
	height: 15px;
	}

.contentpagetitle {
	font-size: 13px;
	font-weight: bold;
 	color: #5494B7;
	text-align:left;
	}

table.contenttoc {
	color: #4A8EB3;
	background-color: #e0e0e0;
    }

table.contenttoc td {
	font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-align:left;
}

.contentdescription {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px;
	color: #364414;
	text-align: left;
	}

/* Links */
a.blogsection:link, a.blogsection:visited {
	color: #5092B5; text-decoration: none; font-weight: normal;
	font-family:  Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	}

a.blogsection:hover {
	color: #565553;	text-decoration: underline;
	font-weight: normal;
	font-size: 10px;
	}

a.weblinks:link, a.weblinks:visited {
	color: #000000; text-decoration: none; font-weight: normal; /* #5696B9*/
	font-family:  Trebuchet MS, Helvetica, sans-serif;
	}

a.weblinks:hover {
	color: #575352;	text-decoration: underline;
	}

a.readon:link, a.readon:visited {
	color: #5193B6;
	text-decoration: none;
	font-family:  Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	list-style: inside url(../../img/web/arrow.gif);
	list-style-type: disc;
	display: list-item;
	white-space: normal;
	font-weight: normal;
	}

a.readon:hover {
	color: #585755;
	text-decoration: underline;
	font-weight: normal;
	font-family:  Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	list-style: inside url(../../img/web/arrow.gif);
	list-style-type: disc;
	display: list-item;
	white-space: normal;
	}

table.moduletable {
	margin: 0px 0px 0px 0px;
	width: 95%;
	border-left: solid 0px #ffd000;
	border-right: solid 0px #ffd000;
	border-top: solid 0px #ffd000;
	border-bottom: solid 0px #ffd000;
	border-top-style: dashed;
   border-bottom-style: dashed;
   border-right-style: dashed;
   border-left-style: dashed;
	}

table.moduletable th {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #498DB2;
	text-align: left;
	width: 100%;
	background: transparent url(../../img/web/separa2.gif) no-repeat left;
	text-indent: 15px;
	height: 8px;
	border-bottom: 1px solid #5193B6;
	line-height: 9px;
	text-decoration: none;
	}

table.moduletable td {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	}

.componentheading {
	font-family: "Times new roman", Trebuchet MS, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
 	color: #4B8FB2;
	text-align:left;
	background-image: url(../../img/web/separa.gif);
	background-repeat: no-repeat;
	background-position: top left;
	text-indent: 30px;
	line-height: 25px;
	height: 15px;
	}

.button {
	color: #5696B9;
	text-align: center;
	font: bold normal 10px Trebuchet MS, Verdana, Geneva, Helvetica, serif;
	background: #E7E7E7;
	border: 1px solid #649FBF;
		height: 15px;
	}

.inputbox {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid;
	}

a.pathway:link, a.pathway:visited {
        color: #4E90B3;
	  text-decoration: none;
	  font-weight: normal;
	  font-size: 9px;
        }

a.pathway:hover {
        color:#575654;
        text-decoration: underline;
        }

/** category text format and links **/
.category {
	color: #000000;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

a.category:link, a.category:visited {
	color: #4A8EB3;
	font-weight: bold;
	}

a.category:hover {
	color: #FFFFFF;
	}

.poll {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E90B3;
	line-height: 14px
	}

.sectiontableentry1, {
	}

	 .contentpane {
	background-color : #FFFFFF;
	}

.sectiontableentry2 {
	}

.sectiontableheader {
	background-color : #FFFFFF;
	color : #4E90B3;
	font-weight : bold;
}

.small {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	color: #5193B6;
	text-decoration: none;
	font-weight: normal;
	}

.smalldark {
        font-family: Verdana, Trebuchet MS, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        text-decoration: none;
        font-weight: normal;
        }


.newsfeedheading {
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #4E90B3;
        text-align:left;
        }

.newsfeeddate {
	font-family: Verdana, Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	color: #5193B6;
	font-weight: normal;
}

.createdate {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	}

.modifydate {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 9px;
	color: #498DB2;
	text-decoration: none;
	font-weight: normal;
	}

ul {
	margin: 0px 0px 0px 0px;
	}

li {
	list-style: inside url(../../img/web/arrow.gif) 3px;
	list-style-image: url(../../img/web/arrow.gif);
	}

.fase4rdf {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px; color: #666666; font-weight: normal;
	}

a.fase4rdf:link {
	font-size: 12px; font-weight: normal; color: #5393B6;
	}

a.fase4rdf:hover {
	font-weight: bold; color: #4B8FB2;
	}

table.searchintro {
  	background-color: #FFFFFF;
	border: 1px solid #759328;
	}

table.contact {
	background-color: #ffffff;
	}

table.contact td.icons {
	background-color: #ffffff;
	}

table.contact td.details {
	background-color: #ffffff;
	font-size: 10px;
	}

.pagenav {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #585755;
}

a.pagenav, a.pagenav:visited {
	font-weight: bold;
	color: #5595B8;
}

a.pagenav:hover {
	color: #333333;
}

.pagenavbar {

}

/* Content voting */
.content_rating {
	font-weight: normal;
	font-size: 8pt;
}

.content_vote {
	font-weight: normal;
	font-size: 8pt;
}

/* PeekLime */

a.bar:link, a.bar:visited {
        color: #4E90B3;
		  text-decoration: none;
        font: normal 9px Trebuchet MS, Helvetica, sans-serif;
        }

a.bar:hover {
        color: #686765;
		  text-decoration: none;
        }

		  .searchbox {
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #4F91B4;
	background: #dae4f8;
	border: 1px solid;
	height: 15px;
	line-height: 15px;
	}

.title {
	font: bold larger;
	letter-spacing: 4px;
}

/* for modifying {moscode} output.  Don't set the colour! */
.moscode {
	background-color: #f0f0f0;
}

/* Text passed with mosmsg url parameter */
.message {
	font-family : Verdana, Trebuchet MS, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 10pt;
	color : #4E90B3;
	text-align: center;
}

.pathway {
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 10px;
         color: #4F91B4;
}
.date {
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 11px;
         color: #ffffff;
}

button {
	border: solid 1px #c3c3c3;
	background-image: url('../img/boton.png');
	height: 22px;
	font-size:10px;
}
button:hover {
	border: solid 1px #84b0df;
	color: gray;
	background-color:white;
	font-size:10px;
}
input,select,textarea {
	border: solid 1px #c3c3c3;
	background-image: url('../img/boton.png');
	font-size:12px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
/*  line-height: 17px;*/
  text-indent: 18px;
  padding-top: 0px;
  background-image: url('../../img/point.png') ;
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
a.pie:link, a.pie:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
a.pie:hover {

        color: #CCCCCC;
		  text-decoration: none;
}
/* Comienza SCA*/

.login1 {
background-image:url(../../img/web/imglogin1.jpg);
width: 235px;
height: 34px;
vertical-align: middle;
font-family: "Trebuchet MS", Arial;
font-size: 12px;
font-style: normal;
font-weight: bold;
color:#FFFFFF;

}
.login2 {
background-image:url(../../img/web/imglogin2.jpg);
}
.tabla1sca 
{
border: solid 1px #c1cfb0;
font-family: "Trebuchet MS", Arial;
font-style: normal;
}
.tr1sca 
{
border: solid 1px #c1cfb0;
font-family: "Trebuchet MS", Arial;
font-size: 10px;
font-style: normal;
background-image:url(../../img/web/tr1sca.jpg);

}
.tabla2sca  
{
font-family: "Trebuchet MS", Arial;
font-size: 11px;
font-style: normal;
background-color:#f2fee6;
height: 25px;
border-left: solid 1px #abcbdb;
	border-right: solid 1px;
	border-right-color:#abcbdb;
	border-top: solid 1px #abcbdb;
	border-bottom: solid 1px #abcbdb;
	border-top-style: solid;
   border-bottom-style: solid;
   border-right-style: solid;
   border-left-style: solid;
   border: 1px;


}

.botonexcel {
background-image:url(../../img/web/btnexcel.jpg);
width: 102px;
height: 25px;
}
.subtitularsca1 {
font-family: "Trebuchet MS", Arial;
font-size: 12px;
font-style: normal;
font-weight:bold;
color:#e68b00;
}
.cuerpodetextosca1 {
font-family: "Trebuchet MS", Arial;
font-size: 11px;
font-style: normal;
color:#333333;
}


/* Termina SCA*/