.dataTable{
	background-color: white;
    	border-color: black;
    	border-style: solid;
    	border-width: 1px;
	border-right: 1px black; 
    	border-collapse:collapse;
	font-size : 8pt;
	margin:	5px;
	width:100%;
}

.dataTable th {
    	border-color: black;
    	border-style: solid;
    	border-width: 1px;
	padding-left: 2px;
	padding-right:9px;
	border-right: 1px black; 
	font-family: Trebuchet MS;
	font-weight: bold;
	color: white; /*Color Fuente*/
	background-color: green; /*Color Titulo*/
	margin-right: 10px;
	white-space: nowrap;
}

.dataTable  td {
	font-family: Trebuchet MS;
	padding-left: 2px;
    	border-style: solid;
    	border-width: 1px;
}

.dataTable tr.total td {
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	border-top: 1px solid black;
	padding-bottom: 9px;
}

.dataTable tr.total td.customer {
	visibility: hidden;
}

.dataTable td.hidden {
	display: none;
}

.dataTable th.hidden {
	display: none;
}

.dataTable th.r {
	text-align: right;
	padding-right: 9px;
}

.dataTable th.c {
	text-align: center;
}

.dataTable td.r {
	text-align: right;
	padding-right: 9px;
}

.dataTable td.c {
	text-align: center;
}

.dataTable  tr.odd {
	background-color: #f7f7f7; /*Color Fila i+1 #E4DADA*/
}

.dataTable tr.even {
	background-color: #f7f7f7; /*Color Fila i*/
}

.dataTable th a   ,.dataTable th a:visited {
	text-align: left;
	color: white;
}

.dataTable th a:hover {
	color: #E4DADA;
        background-color: transparent;
}

.dataTable .order1 {
	background-position: right;
	background-image: url(../images/arrow_up.gif);
	background-repeat: no-repeat;
}

.dataTable .order2 {
	background-position: right;
	background-image: url(../images/arrow_down.gif);
	background-repeat: no-repeat;
}

.pagelinks {
	color: #999999;
	margin: 5px;
}

.pagelinks img {
	vertical-align: middle;
}

span.export {
	padding: 0 4px 1px 20px;
	font-size: x-small;
	text-align: center;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
	background-repeat: no-repeat;
	width: 16px;
}

.dataTable tr.rowMouseOver {
	background-image: url(../images/selected.gif);
	/*background-repeat: repeat-x;*/
        background-repeat: repeat-x;
	background-color: #E4DADA;
}

/*
html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: verdana, helvetica, sans-serif;
	font-size: 8pt;
}
*/

/*
.pageHeader {
	height: 60px;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
}
.pageHeaderText {
	font-size: 30px;
	margin-left: 5px;
	color: whitesmoke;
	font-family: "century gothic", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	display:inline;
	white-space: nowrap;
}
.leftMenu {
	white-space: nowrap;
	height: 100%;
	background-color: #E4DADA;
	font-family: verdana, arial, helvetica, sans-serif;
}
*/
.content {
	width: 100%;
	padding: 8px;
}

.rightColumn {
	width: 3px;
}

.customer {
	width: 20%;
	text-align: left;
}

.orderNumber {
	width: 10%;
	text-align: left;
}

.orderDate {
	text-align: center;
	width: 10%;
}

.productName {
	width: 25%;
}

.quantity {
	text-align: center;
	width: 10%;
}

.lineItemTotal {
	text-align: right;
	width: 15%;
	padding-right:10px;
}

.logo {
	border-top: 1px solid #000066;
	border-left: 1px solid #000066;
	border-bottom: 1px solid #000066;
	display:inline;
	text-align: right;
}

.code {
	font-family: verdana, arial, helvetica, "courier new", monospace;
	font-size: 9pt;
}

.borderedInline {
	display: inline;
	border: 1px solid black;
}

/*
a:link {
	color: #008080; Enlaces Default
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
}

a:visited {
	color: #88BC6F; Enlaces Visitados
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
}

a:hover {
	color: #88BC6F;
	background-color: transparent;
	font-weight: bold;
}

img {
	border: 0px;
}
*/

/*Others*/
/*
html, body  {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size:13px;
}
.titleDiv {
    background-color: #D6F6E1;
    color: #88BC6F;
    font-weight:bold;
    font-size:9px;
    text-align:left;
    padding-left:1px;
    padding-top:1px;
    padding-bottom:1px;
    border:1px solid #88BC6F;
}
h1 { font-weight:bold; color: 88BC6F; font-size:15px; text-align:center;}
*/
